@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Excel-like theme */
.ag-theme-alpine {
  /* compact sizing */
  --ag-row-height: 24px;          
  --ag-header-height: 32px;
  --ag-font-size: 13px;

  /* header styling */
  --ag-header-background-color: #f3f3f3;
  --ag-header-foreground-color: #000;
  --ag-header-font-weight: bold;
}
